.add-button {
    width: 282px;
    min-height: 50px;
    margin: 36px auto;
    background-image: url(../../images/add-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    border-radius: 2px;
    background-color: transparent;
    background-size: auto;
}

.add-button:hover {
    opacity: 60%;
}

@media screen and (min-width: 561px) {
    .add-button {
        max-width: 150px;
        justify-self: end;
        margin: 0;
    }
}