.like-icon {
    width: 22px;
    height: 19px;
    background-image: url(../../images/like-icon.svg);
    margin-right: 20px;
    align-self: center;
}

.like-icon:active {
    background-image: url(../../images/like-icin-black.png);
}

.like-icon:hover {
    background-image: url(../../images/like-icon-gray.svg);
}