.like-icon {
    width: 22px;
    height: 19px;
    background-image: url(../../images/like-icon.svg);
    margin-right: 20px;
    align-self: center;
    background-color: transparent;
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
}

.like-icon:hover {
    background-image: url(../../images/like-icon-gray.svg);
}

.like-icon:active {
    background-image: url(../../../images/like-icon-black.png);
}
