.footer__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #545454;
}

@media screen and (min-width: 581px) {
    .footer__text {
        font-size: 18px;
        line-height: 21.78px;
    }
}